@tailwind base;
@tailwind components;
@tailwind utilities;

.black-glass-10 {
  background-color: rgba(0, 0, 0, 0.1);
}
.black-glass-20 {
  background-color: rgba(0, 0, 0, 0.2);
}
.black-glass-30 {
  background-color: rgba(0, 0, 0, 0.3);
}
.black-glass-40 {
  background-color: rgba(0, 0, 0, 0.4);
}
.black-glass-50 {
  background-color: rgba(0, 0, 0, 0.5);
}
.black-glass-60 {
  background-color: rgba(0, 0, 0, 0.6);
}
.black-glass-70 {
  background-color: rgba(0, 0, 0, 0.7);
}
.black-glass-80 {
  background-color: rgba(0, 0, 0, 0.8);
}
.black-glass-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

.white-glass-10 {
  background-color: rgba(255, 255, 255, 0.1);
}
.white-glass-20 {
  background-color: rgba(255, 255, 255, 0.2);
}
.white-glass-30 {
  background-color: rgba(255, 255, 255, 0.3);
}
.white-glass-40 {
  background-color: rgba(255, 255, 255, 0.4);
}
.white-glass-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
.white-glass-60 {
  background-color: rgba(255, 255, 255, 0.6);
}
.white-glass-70 {
  background-color: rgba(255, 255, 255, 0.7);
}
.white-glass-80 {
  background-color: rgba(255, 255, 255, 0.8);
}
.white-glass-90 {
  background-color: rgba(255, 255, 255, 0.9);
}
